/* fotos de los profesores */
.profesor-img {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
    background-color: #3f3f46;
    display: block;
}

.rounded-circle {
    transition: transform 0.3s ease, border 0.3s ease;
    border: 3px solid transparent;
}

.card:hover .rounded-circle {
    transform: scale(1.05);
    border-color: var(--primary-color);
}

.h4 i {
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 1.5rem;
}